# Dependencias
gamma/node_modules/

# Recursos locales
gamma/src/recursos/
logs

# Java / Maven
gamma-backend/target/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Build
build/
dist/