# Ignorar dependencias de Node.js
node_modules/
.cache/
dist/
build/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs

# Archivos temporales
*.tmp
*.swp

#ARCHIVOS DE GUIA
database.txt
variables.txt
instructions.txt