.loginAdmin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loginAdmin input[type="text"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login.loginAdmin .login-form input[type="button"]:hover {
    background-color: #7a000f; /* Un rojo más oscuro */
}