.contenedorDatosPersonales {
    margin: 20px auto;
}
table {
    text-align: center;
}
.seccionNotas {
    display: block;
}
.seccionOculta {
    display: none;
}
/* Login */
section.login {
    height: auto;
    margin: 50px auto;
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-form img {
    width: 150px;
}
.login-form {
    width: 350px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px #00000020;
    border-radius: 10px;
    text-align: center; /* Centrar contenido horizontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.login-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}
.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}
.login div:nth-child(2) {
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 15px;
}
.login div:nth-child(2) button {
    padding: 10px 20px;
    text-align: center;
    background-color: #970013;
    display: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.login div:nth-child(2) button a {
    text-decoration: none;
    text-align: center;
    color: white;
}
.login-form #submit {
    background-color: #970013;
    color: white;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}